.queueEntry {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.songTitle {
    text-overflow: ellipsis;
    padding: 0 1em;
}

.songTitleLink {
    text-decoration: none;
    color: #fff;
}

}